# pip install -r requirements.txt
CherryPy        
bottle          
ipython         
libxml2
matplotlib      
mongoengine     
numpy           
pip             
pymongo         
supervisor      
tornado         
yolk            
mpld3
xpinyin
scikit-image
scikit-learn
